.working-diagram {
    display: flex;
    justify-content: center;
    margin: 50px 0 100px 0;
}

.working-diagram-laptop {
    height: 320px;
    width: 560px;
}

.working-card {
    width: 300px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(169,188,218,.65);
}

.working-btn {
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

.working-btn span {
    background-color: #FBDC00;
    margin: 0 20px;
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    width: 200px;
    height: 40px;
    text-align: center;
}

.working-btn:hover {
    cursor:pointer;
}