.routes {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}

.route-links {
    color: black;
    text-decoration: none;
    margin: 8px 0;
    display: block;
}

.route-links:hover {
    color:#ee3425;
    text-decoration: underline;
}

.footer-bottom {
    padding: 8px 30px;
    display: flex;
    align-items: center;
}

.footer-contact-lang {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
}

.footer-contact-lang img{
    height: 16px;
    width: 16px;
    margin: 0 5px;
}

.footer-contact {
    display: flex;
    align-items: center;
}

.footer-contact img {
    display: block;
}

.footer-lang {
    font-size: 15px;
    color: #ee3425;
    margin-right: 30px;
}

.footer-copyrights-tnc {
    font-size: 12px;
    display: flex;
    font-weight: 600;
}

#footer-copyrights {
    margin-right: 40px;
}

#footer-tnc a{
    text-decoration: none;
}

#footer-tnc a:hover{
    text-decoration: underline;
    cursor: pointer;
}