.whatsapp-flag {
    background-color: #ee3425;
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;
    font-weight: 500;
    position:fixed;
    right: 0;
    top: 20%;
    border-radius: 4px 0 0 4px;
    filter: drop-shadow(0 0 16px rgb(98 127 172/50%));
}

.whatsapp-flag span {
    color: white;
    font-size: 13px;
    font-family: "PT Sans", sans-serif;
    font-weight: 600;
}

.whatsapp-flag img {
    height: 35px;
    width: 35px;
}

@media only screen and (max-width: 768px) {
    .whatsapp-flag {
        display: none;
    }
}