* {
  font-family: Ubuntu, sans-serif;
  margin: 0px;
}

.App {
  width: 100%;
}

.light-bg {
  background-color: #fffef2;
}

h3 {
  text-align: center;
}

.dark-bg {
  background-color: #fbdc00;
}

.darker-bg {
  background-color: #ebbe00;
}